<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teamjaj.agourd.valoulou.jajmeup">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.teamjaj.agourd.valoulou.jajmeup.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.SEND" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="ekto.valou.badgebroadcast" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="ekto.valou.ytbroadcast" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="volley.error.message" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.teamjaj.agourd.valoulou.jajmeup.activities.InstanceActivity"
            android:label="WakeMeUp">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <!-- <activity android:name=".activities.SignActivity" android:label="WakeMeUp" android:theme="@style/AppTheme.NoActionBar"/> -->
        <activity android:name="com.teamjaj.agourd.valoulou.jajmeup.activities.SearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <!--
        <activity android:name=".activities.RegisterActivity" android:label="WakeMeUp" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.LoginActivity" android:label="WakeMeUp" android:theme="@style/AppTheme.NoActionBar"/>
        -->

        <activity
            android:name="com.teamjaj.agourd.valoulou.jajmeup.activities.SignActivity"
            android:label="Bienvenue dans WakeMeUp">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.teamjaj.agourd.valoulou.jajmeup.activities.LoginActivity"
            android:label="Connexion">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.teamjaj.agourd.valoulou.jajmeup.activities.RegisterActivity"
            android:label="Inscription">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.teamjaj.agourd.valoulou.jajmeup.preferences.UserSettings"
            android:screenOrientation="nosensor"
            android:theme="@style/MainTheme">
            <intent-filer>
                <action android:name=".Preferences" />

                <category android:name="android.intent.cetagory.PREFERENCE" />
            </intent-filer>
        </activity>
        <activity
            android:name="com.teamjaj.agourd.valoulou.jajmeup.preferences.ClockSettings"
            android:screenOrientation="nosensor"
            android:theme="@style/MainTheme">
            <intent-filer>
                <action android:name=".Preferences" />

                <category android:name="android.intent.cetagory.PREFERENCE" />
            </intent-filer>
        </activity>
        <activity
            android:name="com.teamjaj.agourd.valoulou.jajmeup.activities.DemandeAmiActivity"
            android:label="Demande d&apos;amis">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.teamjaj.agourd.valoulou.jajmeup.activities.MessageActivity"
            android:label="Message">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.teamjaj.agourd.valoulou.jajmeup.activities.MessengerActivity"
            android:label="Messenger">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.teamjaj.agourd.valoulou.jajmeup.activities.SettingsActivity"
            android:label="Paramètres">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.teamjaj.agourd.valoulou.jajmeup.services.AlarmService"
            android:enabled="true" />

        <receiver android:name="com.teamjaj.agourd.valoulou.jajmeup.receivers.AlarmReceiver" />

        <activity android:name="com.teamjaj.agourd.valoulou.jajmeup.activities.YoutubeActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>